.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: hidden;
  > .project-card {
    width: 100%;
  }
}

@media only screen and (min-width: $large-screen) {
  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-x: hidden;
    > .project-card {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 960px) {
  .projects-wrapper {
    > .project-card {
      width: 44%;
    }
  }
}

@media only screen and (min-width: 1040px) {
  .projects-wrapper {
    > .project-card {
      width: 45%;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .projects-wrapper {
    > .project-card {
      width: 46%;
    }
  }
}
