{% if site.show_projects %}
<h1 class="title">{{site.projects_title}}</h1>
<div id="work-projects" class="projects-wrapper">
    <div class="hide-for-lg" style="width: 0px !important;"></div>
    {% for project in site.data.projects %}
    {% if fade_dir == 'right' %}
    {% assign fade_dir = 'left' %}
    {% else %}
    {% assign fade_dir = 'right' %}
    {% endif %}
    <div class="project-card" data-aos="fade-down-{{ fade_dir }}">
        <h2 class="project-card-title">
            {{ project.name }}
        </h2>
        <p class="project-card-content">
            {{project.descr}}
        </p>
        <div class="project-card-content">
            {% if project.demo %}
            <a class="highlight-link" href="{{project.demo}}" target="_blank" rel="noopener noreferrer">
                Demo
            </a>
            {% endif %}
            {% if project.tags %}
            <div class="project-card-tags">
                {% for tag in project.tags %}
                <span class="project-card-tag">
                    {{tag.tag}}
                </span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

{% if site.show_os_projects %}
<h1 class="title">{{site.os_projects_title}}</h1>
<p class="subtitle hide-for-sm">
    Scroll left/right for more information!
</p>

{% if site.projects.sort_by == 'stars' %}
{% assign sort_order = 'stargazers_count', 'last' %}
{% else %}
{% assign sort_order = 'pushed_at' %}
{% endif %}

{% if site.projects.exclude.archived and site.projects.exclude.forks %}
{% assign filtered_repos = site.github.public_repositories | where:'archived', false | where:'fork', false | sort: sort_order | reverse %}
{% elsif site.projects.exclude.archived %}
{% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}
{% elsif site.projects.exclude.forks %}
{% assign filtered_repos = site.github.public_repositories | where:'fork', false | sort: sort_order | reverse %}
{% else %}
{% assign filtered_repos = site.github.public_repositories | sort: sort_order | reverse %}
{% endif %}

<div id="foss-projects" class="projects-wrapper" data-aos="fade-up">
    <div class="hide-for-lg" style="width: 0px !important;"></div>
    {% for repository in filtered_repos %}
    {% unless site.projects.exclude.projects contains repository.name %}
    {% if fade_dir == 'right' %}
    {% assign fade_dir = 'left' %}
    {% else %}
    {% assign fade_dir = 'right' %}
    {% endif %}
    <div class="project-card" data-aos="fade-down-{{ fade_dir }}">
        <h2 class="project-card-title">
            <span class="project-name">
                {% if repository.fork == true %}
                <span class="fork-icon fas fa-share-alt"></span>
                {% endif %}
                {{ repository.name }}
            </span>
            <span class="project-links">
                {% if repository.stargazers_count != 0 %}
                <a href="{{ repository.html_url }}/stargazers" class="project-stars-forks">
                    <span class="fas fa-star"></span>
                    {{ repository.stargazers_count }}
                </a>
                {% endif %}
                {% if repository.forks_count != 0 %}
                <a href="{{ repository.html_url }}/network/members" class="project-stars-forks">
                    <span class="fas fa-code-branch"></span>
                    {{ repository.forks_count }}
                </a>
                {% endif %}
            </span>
        </h2>
        <p class="project-card-content">
            {{repository.description}}
        </p>
        <div class="project-card-footer">
            {% if repository.homepage != "" and repository.homepage != nil %}
            <a class="highlight-link" href="{{repository.homepage}}" target="_blank" rel="noopener noreferrer">
                Demo
            </a>
            {% endif %}
            <a class="highlight-link" href="{{repository.html_url}}" target="_blank" rel="noopener noreferrer">
                Github
            </a>
            {% if repository.topics %}
            <div class="tag-wrapper project-card-tags">
                {% for topic in repository.topics %}
                <span class="tag project-card-tag">{{topic}}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endunless %}
    {% endfor %}
</div>
{% endif %}