/***************************************************
 * IMPORTS
 ***************************************************/

@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

/***************************************************
 * VARIABLES
 ***************************************************/
$small-screen: 360px;
$medium-screen: 640px;
$large-screen: 720px;
$font-family: "Ubuntu", sans-serif;
$font-size-base: 1rem;
$font-size-h1: 2rem;
$font-weight-strong: 600;
$text-color: #dcdfe4;
$transition: all 0.5s ease-in-out;
$bg-color: #282c34;
$border-radius: 2px;
$card-bg-color: linear-gradient(
  145deg,
  rgba(115, 115, 115, 0.15) 15%,
  #282c34 80%
);
$primary-color: #98c739;
$secondary-color: #61afef;
$third-color: #e06c75;
$fourth-color: #e5c07b;

$twitter-color: #1da1f2;
$linkedin-color: #007bb6;
$github-color: #000000;

/***************************************************
 * GENERAL
 ***************************************************/

html {
  background: $bg-color;
  color: $text-color;
  font-family: $font-family;
  font-size: $font-size-base;
  font-weight: normal;
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
}

/***************************************************
 * TYPOGRAPHY
 ***************************************************/

h1 {
  font-size: $font-size-h1;
  font-weight: $font-weight-strong;
  line-height: 2rem;
}

p {
  word-spacing: 0.1rem;
  font-size: 1.2rem;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
  }
}

.highlight-title {
  color: $text-color;
  text-shadow: 0 0 0.75rem $primary-color;
  transition: $transition;

  &:hover {
    color: $primary-color;
    text-shadow: 0 0 0.75rem $text-color;
  }
}

.highlight-link {
  box-shadow: inset 0 -0.125rem 0 $primary-color;
  box-sizing: border-box;
  color: $primary-color;
  display: inline-block;
  padding: 0.125rem 0.125rem;
  transition: $transition;

  &:hover {
    box-shadow: inset 0 -2rem 0 0 $primary-color;
    color: $text-color;
  }
}

/***************************************************
 * LAYOUT
 ***************************************************/
.layout {
  margin: 0.5rem;
  max-width: 1024px;
  padding: 0.5rem 0.5rem;
  overflow-x: hidden;

  .card {
    background: $card-bg-color;
    border-radius: $border-radius;
    margin: 3rem 0;
    padding: 1rem 2rem;

    .title {
      text-align: center;
      position: relative;
    }
    .subtitle {
      text-align: center;
    }
    .description {
      text-align: justify;
    }
  }
}

.neumorphism-button {
  background: linear-gradient(
    145deg,
    rgba(100, 100, 105, 0.15) 15%,
    rgba(33, 33, 33, 0.4) 80%
  );
  box-shadow: -4px -3px 2px 0 rgba(250, 250, 250, 0.13),
    4px 4px 2px 0 rgba(0, 0, 0, 0.4);
}

.neumorphism-card {
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 1),
    inset -2px -2px 4px rgba(99, 99, 99, 1);
}

.neumorphism-card-big {
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
}

/***************************************************
 * PRELOADER
 ***************************************************/
#preloader {
  align-items: center;
  background: $bg-color;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 999;

  .loader {
    display: block;
    height: 7rem;
    width: 7rem;

    span {
      width: 3rem;
      height: 3rem;
      display: inline-block;
      background-color: $text-color;

      &:nth-child(1) {
        animation: squareDance_1 2s infinite ease-in-out;
      }

      &:nth-child(2) {
        left: 20px;
        animation: squareDance_2 2s infinite ease-in-out;
      }

      &:nth-child(3) {
        top: 0px;
        animation: squareDance_3 2s infinite ease-in-out;
      }

      &:nth-child(4) {
        top: 0px;
        left: 20px;
        animation: squareDance_4 2s infinite ease-in-out;
      }

      @keyframes squareDance_1 {
        0% {
          transform: translateX(0px) translateY(0px) rotate(0deg);
          border-radius: 0px;
        }
        50% {
          transform: translateX(-25px) translateY(-25px) rotate(-180deg);
          border-radius: 50%;
          background: $primary-color;
        }
        80% {
          transform: translateX(0px) translateY(0px) rotate(-360deg);
          border-radius: 0px;
        }
        100% {
          transform: translateX(0px) translateY(0px) rotate(-360deg);
          border-radius: 0px;
        }
      }

      @keyframes squareDance_2 {
        0% {
          transform: translateX(0px) translateY(0px) rotate(0deg);
          border-radius: 0px;
        }
        50% {
          transform: translateX(25px) translateY(-25px) rotate(180deg);
          border-radius: 50%;
          background: $secondary-color;
        }
        80% {
          transform: translateX(0px) translateY(0px) rotate(360deg);
          border-radius: 0px;
        }
        100% {
          transform: translateX(0px) translateY(0px) rotate(360deg);
          border-radius: 0px;
        }
      }

      @keyframes squareDance_3 {
        0% {
          transform: translateX(0px) translateY(0px) rotate(0deg);
          border-radius: 0px;
        }
        50% {
          transform: translateX(-25px) translateY(25px) rotate(-180deg);
          border-radius: 50%;
          background: $third-color;
        }
        80% {
          transform: translateX(0px) translateY(0px) rotate(-360deg);
          border-radius: 0px;
        }
        100% {
          transform: translateX(0px) translateY(0px) rotate(-360deg);
          border-radius: 0px;
        }
      }

      @keyframes squareDance_4 {
        0% {
          transform: translateX(0px) translateY(0px) rotate(0deg);
          border-radius: 0px;
        }
        50% {
          transform: translateX(25px) translateY(25px) rotate(180deg);
          border-radius: 50%;
          background: $fourth-color;
        }
        80% {
          transform: translateX(0px) translateY(0px) rotate(360deg);
          border-radius: 0px;
        }
        100% {
          transform: translateX(0px) translateY(0px) rotate(360deg);
          border-radius: 0px;
        }
      }
    }
  }
}

/***************************************************
 * FOOTER
 ***************************************************/
.footer {
  background: $bg-color;
  color: $text-color;
  margin: 0.5rem;
  padding: 1rem;
  text-align: center;
  a {
    color: $primary-color;

    &:hover,
    &:focus {
      background: $bg-color;
      color: $text-color;
    }
  }
}

/***************************************************
 * LANDING/GREETING SECTION
 ***************************************************/
#landing {
  background: url("/assets/img/austin.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  color: $text-color;
  display: flex;
  height: 100%;
  text-align: center;

  .landing-inner {
    max-width: 95%;
    margin: 0 auto;
    padding: 0.75rem;
    background: rgba(0, 0, 0, 0.25);
    border-radius: $border-radius;
  }

  .landing-title {
    left: 0;
    margin: 0.5rem;
    position: absolute;
    right: 0;
    top: 40%;
  }

  .landing-icons {
    display: flex;
    justify-content: center;

    .social-link {
      color: $text-color;
      position: relative;
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      margin: 0.25rem;
      transition: $transition;

      .circle {
        animation: outWaveOut 1s cubic-bezier(0.42, 0, 0.58, 1) forwards;
        fill: $text-color;
        stroke-dasharray: 40;
        transition: $transition;
        fill-opacity: 0;
      }

      .social {
        font-size: 2rem;
        position: absolute;
        top: 0px;
        transition: $transition;
        width: 100%;
      }

      .social-icon {
        color: white;
      }

      .label {
        position: relative;
        top: -4rem;
        opacity: 0;
        transition: $transition;
      }

      &:hover {
        cursor: pointer;

        .circle {
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
            colorDefaultIcon 1s linear forwards;
          fill-opacity: 1;
        }

        .social-icon {
          color: $fourth-color;
        }

        .label {
          opacity: 1;
          top: -2rem;
        }
      }

      &.github:hover {
        .circle {
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
            colorGithub 1s linear forwards;
        }
        .social-icon {
          color: $github-color;
        }
      }

      &.email:hover {
        .circle {
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
            colorEmail 1s linear forwards;
        }
        .social-icon {
          color: $primary-color;
        }
      }

      &.linkedin:hover {
        .circle {
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
            colorLinkedin 1s linear forwards;
        }
        .social-icon::before {
          color: $linkedin-color;
        }
      }

      &.twitter:hover {
        .circle {
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
            colorTwitter 1s linear forwards;
        }
        .social-icon {
          color: $twitter-color;
        }
      }

      &.pdf:hover {
        .circle {
          animation: outWaveIn 1s cubic-bezier(0.42, 0, 0.58, 1) forwards,
            colorPdf 1s linear forwards;
        }
        .social-icon {
          color: $secondary-color;
        }
      }
    }
  }

  #txt-rotate {
    border-bottom: 1px solid $text-color;
    padding-bottom: 0.75rem;
    margin: 0 0 0.75rem 0;
  }
}

/***************************************************
 * SKILLS SECTION
 ***************************************************/
#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  #skill-cloud {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    span {
      padding: 0.2rem;
      transition: $transition;

      &[skill-type="language"] {
        color: $primary-color;
      }
      &[skill-type="framework"] {
        color: $secondary-color;
      }
      &[skill-type="tool"] {
        color: $third-color;
      }
      &[skill-weight="1"] {
        font-size: 0.75rem;
        line-height: 0.25rem;
      }
      &[skill-weight="2"] {
        font-size: 1.25rem;
        line-height: 0.75rem;
      }
      &[skill-weight="3"] {
        font-size: 1.75rem;
        line-height: 1.25rem;
      }
      &[skill-weight="4"] {
        font-size: 2.25rem;
        line-height: 1.75rem;
      }
      &[skill-weight="5"] {
        font-size: 2.75rem;
        line-height: 2.25rem;
      }
    }
  }

  input[type="radio"] {
    display: none;
  }

  .filter-button {
    display: none;
  }
}

/***************************************************
 * TIMELINE SECTION
 ***************************************************/
.timeline {
  display: none;

  .timeline__items {
    .timeline__item {
      &::after {
        background-color: $text-color;
      }
    }
    .timeline__item--left {
      text-align: right;

      .timeline__content {
        display: inherit;
        &::after {
          border-left: 11px solid $text-color;
        }
      }
    }
    .timeline__item--right {
      text-align: left;

      .timeline__content {
        &::after {
          border-right: 11px solid $text-color;
        }
      }
    }
  }
}

.mobile-timeline {
  display: block;
  .timeline__content {
    &::after,
    &::before {
      border: none;
      content: initial;
      height: initial;
      transform: initial;
      top: initial;
      right: initial;
      z-index: initial;
    }
  }
}

// Project Card styling -- used in
// Timeline AND Projects sections
.project-card {
  background-color: $text-color !important;
  color: $bg-color;
  border-radius: $border-radius !important;
  box-shadow: 5px 5px 4px #161718, -5px -5px 4px #404346;
  margin-bottom: 1rem;
  padding: 1rem;

  .project-card-title {
    font-size: 1.4rem;
    margin: 0;
    display: block;
    width: 100%;
    justify-content: space-between;

    .project-card-subtitle {
      display: inline-block;
    }

    .project-card-title-divider {
      display: inline-block;
    }

    .fork-icon {
      font-size: 1rem;
      margin-right: 0.25rem;
      position: relative;
      top: -2px;
    }

    .project-links {
      font-size: 1.25rem;
      margin-top: 3px;
      font-family: $font-family;
      float: right;

      a {
        color: $primary-color;
        transition: $transition;
        span {
          transition: $transition;
          color: $bg-color;
        }

        &:hover {
          color: $secondary-color;
          span {
            color: $primary-color;
          }
        }
      }
    }
  }

  .project-card-content {
    padding: 0.5rem 0;
    margin: 0.5rem 0;
  }

  .project-card-date {
    margin: 0.5rem 0;
    font-style: italic;
    font-weight: 400;
  }

  .project-card-tags {
    list-style: none;
    display: block;
    margin: 1rem 0;
    padding: 0;
    font-size: 0.9rem;

    .project-card-tag {
      display: inline-block;
      border: 1px dotted $bg-color;
      padding: 3px;
      margin: 3px;
      border-radius: 3px;
      transition: $transition;
      cursor: default;

      &:hover {
        background: $bg-color;
        color: $text-color;
        border: 1px dotted $text-color;
      }
    }
  }
}

/***************************************************
 * CONTACT SECTION
 ***************************************************/
.LI-profile-badge {
  text-align: center;
  margin: 0 auto;
}

.contact-icons {
  display: flex;
  justify-content: center;

  .social-link {
    position: relative;
    height: 3rem;
    line-height: 3rem;
    margin: 0.25rem;
    text-align: center;
    width: 3rem;

    .social {
      font-size: 1.5rem;
    }

    .social-icon {
      color: $text-color;
      transition: $transition;
    }

    &:hover {
      cursor: pointer;
      animation: jump 1s infinite alternate;

      .social-icon {
        color: $text-color;
      }
    }

    &.email:hover {
      .social-icon {
        color: $primary-color;
      }
    }

    &.github:hover {
      .social-icon {
        color: $github-color;
      }
    }

    &.linkedin:hover {
      .social-icon {
        color: $linkedin-color;
      }
    }

    &.twitter:hover {
      .social-icon {
        color: $twitter-color;
      }
    }

    &.pdf:hover {
      .social-icon {
        color: $secondary-color;
      }
    }
  }
}

/* Media Queries */

/***************************************************
 * SMALL SCREENS
 ***************************************************/
@media only screen and (min-width: $small-screen) {
  #landing {
    .landing-title {
      top: 25%;
      h1 {
        font-size: 1.75rem;
      }
    }
  }
  .layout {
    margin: 0.5rem;
    .card {
      .subtitle {
        font-size: 1.25rem;
      }
      .description {
        font-size: 1.25rem;
      }
    }
  }
}

@media only screen and (min-width: $medium-screen) {
  #landing {
    .landing-title {
      .landing-inner {
        max-width: 640px;
        h1 {
          font-size: 3rem;
        }
      }
    }
  }
  .layout {
    margin: 0.5rem auto;
    padding: 0 3rem;
    .card {
      padding: 1rem 3rem;
    }
  }

  //   .projects-wrapper {
  //     // > * {
  //     //   width: 45%;
  //     // }
  //   }
  .timeline {
    display: block;
  }
  .mobile-timeline {
    display: none;
  }

  // Adjust sizing of skills cloud
  #skills {
    #skill-cloud {
      margin-bottom: 1rem;
      span {
        &[skill-weight="1"] {
          font-size: 1rem;
          line-height: 0rem;
        }
        &[skill-weight="2"] {
          font-size: 2rem;
          line-height: 1rem;
        }
        &[skill-weight="3"] {
          font-size: 3rem;
          line-height: 2rem;
        }
        &[skill-weight="4"] {
          font-size: 4rem;
          line-height: 3rem;
        }
        &[skill-weight="5"] {
          font-size: 5rem;
          line-height: 4rem;
        }
      }
    }

    .filter-button {
      border-radius: $border-radius;
      cursor: pointer;
      display: unset;
      margin: 0 0.5rem 1rem;
      padding: 0.5rem 0.25rem;
      text-align: center;
      width: 20%;
      transition: $transition;
      line-height: 1.1rem;

      &:hover {
        letter-spacing: 0.25rem;
        font-size: 1.1rem;
      }
    }

    @mixin filter-out {
      height: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      width: 0;
    }

    input[type="radio"]:checked + .filter-button {
      font-weight: $font-weight-strong;
      background: linear-gradient(
        150deg,
        rgba(20, 20, 20, 0.4) 10%,
        rgba(115, 115, 115, 0.15) 80%
      );
      box-shadow: 1px 1px 2px 0 rgba(210, 210, 210, 0.4),
        -1px -1px 2px rgba(0, 0, 0, 0.4), inset 3px 3px 2px 0 rgba(0, 0, 0, 0.4),
        inset -1px -2px 2px rgba(210, 210, 210, 0.4);
    }

    input#language:checked {
      + .filter-button {
        color: $primary-color;
      }
      ~ #skill-cloud span[skill-type="framework"],
      ~ #skill-cloud span[skill-type="tool"] {
        @include filter-out;
      }
    }

    input#framework:checked {
      + .filter-button {
        color: $secondary-color;
      }
      ~ #skill-cloud span[skill-type="language"],
      ~ #skill-cloud span[skill-type="tool"] {
        @include filter-out;
      }
    }
    input#tool:checked {
      + .filter-button {
        color: $third-color;
      }
      ~ #skill-cloud span[skill-type="language"],
      ~ #skill-cloud span[skill-type="framework"] {
        @include filter-out;
      }
    }
  }

  .projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // > * {
    //   width: 44%;
    // }
  }

  .contact-icons .social-link {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;

    .social {
      font-size: 2rem;
    }
  }
}

@media only screen and (min-width: $large-screen) {
  #landing {
    .landing-title {
      top: 40%;
    }
  }
  .layout {
    padding: 5rem 5rem;
  }
}

@media only screen and (min-width: 960px) {
  .projects-wrapper {
    > * {
      width: 46%;
    }
  }
}

/************************
 * ANIMATIONS           *
 ************************/
@keyframes jump {
  0% {
    bottom: 0;
  }
  50% {
    bottom: 0.5rem;
  }
  100% {
    bottom: 0;
  }
}

@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

@keyframes outWaveIn {
  to {
    stroke-dasharray: 510;
    stroke-width: 0.5rem;
  }
}

@keyframes outWaveOut {
  from {
    stroke: $text-color;
    stroke-dasharray: 510;
    stroke-width: 0.5rem;
  }
  to {
    stroke: $text-color;
    stroke-dasharray: 83;
    stroke-width: 0.5rem;
  }
}

@keyframes colorDefaultIcon {
  to {
    stroke: $fourth-color;
  }
}

@keyframes colorEmail {
  to {
    stroke: $primary-color;
  }
}

@keyframes colorGithub {
  to {
    stroke: $github-color;
  }
}

@keyframes colorLinkedin {
  to {
    stroke: $linkedin-color;
  }
}

@keyframes colorTwitter {
  to {
    stroke: $twitter-color;
  }
}

@keyframes colorPdf {
  to {
    stroke: $secondary-color;
  }
}
